<div class="container-fluid">
    <div class="row animated fadeIn">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="col-7" style="float: left;">
                        <input #input type="text" class="form-control" placeholder="Buscar usuario...">
                    </div>

                    <button [routerLink]="['/usuario','crear']" class="btn btn-primary space" style="float: right;"><i class="fa fa-plus"></i> Agregar Usuario</button>

                    <button [routerLink]="['/tipousu']" class="btn btn-primary space" style="float: right;"><i class="fa fa-eye"></i> Tipos Usuario</button>
                </div>
            </div>
        </div>
    </div>


    <div class="row animated fadeIn ">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <h3 class="card-title">Usuarios Registrados ( <small> {{totalRegistrados}} </small> )</h3>

                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Nombre</th>
                                <th>Nick</th>
                                <th>Tipo de usuario</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios">
                                <td>{{usuario.nombre}}</td>
                                <td>{{usuario.nick}}</td>
                                <td>{{usuario.tipo.nombre}}</td>
                                <td>
                                    <button class="btn btn-primary" [routerLink]="['/usuario',usuario._id]"> <i class="fa fa-edit"></i> </button>
                                    <button class="btn btn-danger space" (click)="eleminarUsuario(usuario._id)"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>

</div>